.books li {
  font-size: 0.9rem;
}

.books p {
  padding-bottom: 6px;
  font-style: italic;
  color: grey;
}

.tilt2 {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari 3-8 */
    transform: rotate(3deg);
    border: 8px solid goldenrod;
    margin: auto;
    max-width: 300px;
  }
