/* Styles used on the main Cryptic crossword page */
.crossword-thumbnail {
  border: 8px solid #fff;
  border-bottom: none;
}

/* Styles used on the individual crossword pages */
.pseudonym {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 600;
}

.url {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.crossword-border {
  border: solid 1px grey;
}

.button {
  margin-top: 1rem;
  padding: .3rem 1rem;
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  border-radius: .25rem;
  background-color: #3490dc;
  text-transform: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

.button:hover {
  background-color: #2779bd;
/*  outline: 3px auto -webkit-focus-ring-color; */
}

.button:active {
  outline: none;
}

.button:visited {
  outline: none;
}
