.small-text-italic {
  font-size: 0.8rem;
  padding-top: 6px;
  padding-bottom: 8px;
  font-style: italic;
}

.small-text p {
  font-size: 0.8rem;
}

.sep-bar {
  border-left: solid #e0e0e0 3px;
  padding-left: 10px;
}