.tilt {
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Safari 3-8 */
    transform: rotate(-3deg);
    border: 10px solid darkgoldenrod;
    margin: auto;
    max-width: 300px;
  }
