.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: solid 1px #dcdcdc;
  border-radius: 12px;
  outline: none;
  padding: 4px 8px;
  margin: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 300;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #f6e05e;
  box-shadow: 3px 3px 4px -1px grey;
}

/* Needed to get the active state grey to persist */
.btn:focus, .btn:active {
  outline: none;
  border: solid 1px #b0b0b0;
  background-color: #c0c0c0 !important;
  box-shadow: 3px 3px 4px -1px grey;
}

/* Needed to get the active state grey to persist */
.active, .focus {
  outline: none;
  border: 1px solid grey;
  background-color: #b0b0b0 !important;
  box-shadow: 3px 3px 4px -1px grey;
}

/* Add a dark background to the active button */
/*
.btn.active {
  background-color: #666;
  color: white;
}
*/

/* To display or hide article blocks */
.container .filterDiv {
  display: none;
}

.container.all .filterDiv {
  display: block;
}

.container.digital .digital {
  display: block;
}

.container.print .print {
  display: block;
}

.container.brewing .brewing {
  display: block;
}

.container.comms .comms {
  display: block;
}

.container.content .content {
  display: block;
}

.container.culture .culture {
  display: block;
}

.container.design .design {
  display: block;
}

.container.pers-dev .pers-dev {
  display: block;
}