/* Footer background */
.bg-footer-700 {
    background-color: #e0e0e0;
}

/* For the footer text bottom-left */
.footer-copyright, .footer-info a {
  color: dimgray;
}

.footer-info {
  padding: 8px;
}

.footer-info a:hover {
  color: #505050;
}

/* For the social media icons/links bottom-right */
.social-media img {
    max-width: 32px;
}

.social-media ul {
    padding: 10px 0 0 0;
    display:inline-flex;
}

.social-media li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    list-style: none;
}