/* Footer background */
.bg-footer-700 {
    background-color: #e0e0e0;
}

/* For the footer text bottom-left */
.footer-copyright {
  font-size: .8rem;
  padding-top: 16px;
  color: grey;
}

.footer-info {
  font-size: .8rem;
  color: grey;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-info a {
    color: grey;
}

.footer-info a:hover {
    color: #505050;
    text-decoration: underline;
}

/* For the social media icons/links bottom-right */
.social-media img {
    max-width: 32px;
}

.social-media ul {
    display:inline-flex;
}

.social-media li {
    margin-left: 1rem;
    list-style: none;
}