/* header banner */
.headerWrapper {
  width: -webkit-fill-available;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

/* Setting the header font size for larger screen sizes */
@media only screen and (min-width: 1024px) {
  .headerWrapper {font-size: 1.125rem;}
}

/* Setting the header font size for smaller screen sizes */
@media only screen and (max-width: 767px) {
  .headerWrapper {font-size: .875rem;}
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.siteLogoAndName {
  display: flex;
  align-items: center;
}

/* The following ensures the site name lines up with content in the main... */
/* ...section, which also has padding of 10px */
.homeIcon {
  padding-left: 10px;
  width: 2rem;
  /* margin: 0 10px; */
}

/* Setting the width of the home icon for larger screen sizes */
@media only screen and (min-width: 1024px) {
  .homeIcon {width: 2.5rem;}
}

.siteName {
  padding-left: 2rem;
}

/* Hiding the site name and vertical bar for smaller screen sizes */
@media only screen and (max-width: 767px) {
  .siteName {display: none;}
  .verticalDivider {display: none;}
}

/* The following entry just applies to the site name */
.siteName a {
  font-weight: 600;
}

.siteName a:hover {
  color: #505050;
  text-decoration: none;
}

.verticalDivider {
  color: grey;
}

/* The top-left hand navigation menu*/
.navbar {
  overflow: hidden;
  margin: 0 0.375rem;
  }

.navbar a, .dropdown, .dropbtn {
  color: grey;
}

/* Changes color of nav item text on hover */
.navbar a:hover, .dropbtn:hover {
  color: #505050;
  text-decoration: none;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: inherit;
}

/* Adds background color to top level nav items on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color: #f6e05e;
}

/* To ensure the yellow background remains at the point of clicking */
.navbar a:active, .dropdown:active .dropbtn, .dropdown-content a:active {
  background-color: #f6e05e !important;
}

/* To prevent the Articles link remaining yellow on mobile */
.navbar a:focus, .dropdown:focus .dropbtn, .dropdown-content a:focus {
  background-color: unset;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-spacer {
  display: block;
  width: 60px;
}

/* Reduces the horizontal padding on navbar at 639px and below */
@media only screen and (max-width: 639px) {
  .navbar a {padding: 12px 12px;}
  .dropdown .dropbtn {padding: 12px 12px;}
}

/* Standard horizontal padding on navbar at 640px and up */
@media only screen and (min-width: 640px) {
  .navbar a {padding: 16px 21px;}
  .dropdown .dropbtn {padding: 16px 21px;}
}

