/* header banner */
.header-700 {
    background-color: #fff;
}

/* The following ensures the site name lines up with content in the main... */
/* ...section, which also has padding of 10px */
.home-icon {
  padding-left: 10px;
}

.site-name {
  padding-left: 10px;
}

/* The following entry just applies to the site name */
.site-name a {
  font-weight: 600;
}

.site-name a:hover {
  color: #505050;
  text-decoration: none;
}

.vertical-divider {
  color: grey;
}

/* The top-left hand navigation menu*/
.navbar {
    overflow: hidden;
  }

.navbar a, .dropdown, .dropbtn {
  color: grey;
}

/* Changes color of nav item text on hover */
.navbar a:hover, .dropbtn:hover {
  color: #505050;
  text-decoration: none;
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-right: 10px;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: inherit;
}

/* Adds background color to top level nav items on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color: #f6e05e;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Reduces the horizontal padding on navbar at 639px and below */
@media only screen and (max-width: 639px) {
  .navbar a {padding: 12px 12px;}
  .dropdown .dropbtn {padding: 12px 12px;}
}

/* Standard horizontal padding on navbar at 640px and up */
@media only screen and (min-width: 640px) {
  .navbar a {padding: 16px 21px;}
  .dropdown .dropbtn {padding: 16px 21px;}
}

