.date {
  font-style: italic;
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 4px;
  color: #393939;
}

.fyi {
  color: #393939;
  font-style: italic;
}

.patent-background {
  background-color: aliceblue !important;
}

.publish-list {
  padding-top: 0.5rem;
  padding-left: 2rem;
  list-style: decimal-leading-zero;
}

.publish-list li {
  padding-left: 0.5rem;
}

.masterInventor {
  max-width: 10rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.pending {
  color: grey;
  font-style: italic;
  font-weight: 400;
}