.date {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 4px;
  color: grey;
}

.fyi {
  color: grey;
  font-style: italic;
}

.patent-background {
  background-color: aliceblue !important;
}
