.panel p {
  font-size: 0.9rem;
  color: #262626;
}

.panel li {
  padding-bottom: 6px;
}

.strong {
  font-weight: 600;
}

.speaking li {
  padding-bottom: 0.5rem;
}

.conference {
  font-weight: 500;
  color: #ec4899;
  font-size: 1.125rem;
}

/* Background colors for the full-width panels on the Content design page */
.bleed1 {
  background: #e0e0e0;  /* Grey 20 */
}

.bleed2, .bleed4 {
  background: #fff;  /* i.e. no backgroud colour */
}

.bleed3 {
  background: #a6c8ff;  /* Blue 40 */
}
/* End */

.panel-images {
  border-radius: 6px;
  box-shadow: 2px 4px 6px 2px rgba(0,0,0,.2);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.panel-images-no-margin {
  border-radius: 6px;
  box-shadow: 2px 4px 6px 2px rgba(0,0,0,.2);
}

/*
#edf5ff;  (Blue 10)
#d0e2ff;  (Blue 20)
#a6c8ff;  (Blue 30)
#78a9ff;  (Blue 40)
#4589ff;  (Blue 50)

#f4f4f4;  (Grey 10)
#e0e0e0;  (Grey 20 - what I use for the footer)
#a8a8a8;  (Grey 40)
#6f6f6f;  (Grey 60)
#262626;  (Grey 90)
*/