.books li {
  font-size: 0.9rem;
}

.books a {
  font-weight: 500;
}

.books p {
  padding-bottom: 6px;
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
}

.tilt-landscape {
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari 3-8 */
  transform: rotate(-3deg);
  border: 6px solid goldenrod;
  margin: auto;
  max-width: 350px;
}
