/* Extra small devices (phones, 425px and down) */
@media only screen and (max-width: 425px) {
  body {background-color: #fff;}
  .c-tile-list__item {min-width: fit-content;}
  .c-article-tile__title {font-size: 90%;}
  .site-name {font-size: 0.9rem;}
  .navbar a {padding: 16px 12px;}
  
  .dropdown .dropbtn {padding: 16px 12px;}
  .dropdown .dropbtn {font-size: 0.9rem;}
  .lead {font-size: 0.9rem;}
}

/* Small devices (larger phones, 425px and up) */
@media only screen and (min-width: 425px) {
  body {background-color: #fff;}
  .c-tile-list__item {max-width: 46%;}
  .c-tile-list__item {min-width: 32%;}
  .c-article-tile__title {font-size: 90%;}
  .navbar a {padding: 16px 18px;}
  .dropdown .dropbtn {padding: 16px 18px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {background-color: #fff;}
  .c-tile-list__item {max-width: 31%;}
  .c-tile-list__item {min-width: unset;}
  .c-article-tile__title {font-size: 100%;}
  .navbar a {padding: 16px 21px;}
  .dropdown .dropbtn {padding: 16px 21px;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {background-color: #fff}
  .c-article-tile__title {font-size: 100%;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {background-color: #fff;}
}
