@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./header.css");
@import url("./footer.css");
@import url("./404.css");
@import url("./patents.css");
@import url("./tiles.css");

html {
  font-size: 20px;
}

a {
  color: #2980b9;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #c69;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #c69;
}

.italic {
  font-style: italic;
}

.description {
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
}

/* Used on several pages to pad between title&desc and the main block of content */
.padding-tb {
  padding-top: 1.3rem;
  padding-bottom: 2rem;
}

ul {
  display: block;
  list-style-type: disc;
  padding-top: 10px;
  padding-left: 40px;
}

/* To create left and right sections */
.left {
  max-width: 50%;
  float: left;
}

.right {
  max-width: 50%;
  float: left;
}

/* To horizontally centre images within left and right sections */
.left img {
  margin: auto;
}

.right img {
  margin: auto;
}
