@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./404.css");
@import url("./about.css");
@import url("./brewing.css");
@import url("./content-design.css");
@import url("./cryptic-crosswords.css");
@import url("./family.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./index.css");
@import url("./patents.css");
@import url("./reading.css");
@import url("./tiles.css");

/* This parent entry contains all on-screen styles */
@media screen {

html {
  font-size: 20px;
}

/* So when you resize screen, extra space is applied to main... */
/* ...not to the header or footer */
main {
  flex-grow: 1;
}

p {
  padding-bottom: 6px;
}

.medium-text {
  font-size: 0.9rem;
  padding-bottom: 6px;
}

a {
  color: #2980b9;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #c69;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #c69;
}

ul {
  display: block;
  list-style-type: disc;
  padding-top: 10px;
  padding-left: 40px;
}

.ul-small {
  display: block;
  list-style-type: disc;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 0.9rem;
}

/* Used in the intro paragraph on the Reading page */
.ul-small-2 {
  display: block;
  list-style-type: disc;
  padding-top: 10px;
  padding-left: 40px;
  font-size: 0.9rem;
  padding-bottom: 10px /* This is the delta */
}

.description {
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
}

/* Used on several pages to provide vertical heading around a section */
.padding-bottom {
  padding-bottom: 2rem;
}

.padding-bottom-small {
  padding-bottom: 1rem;
}

/* To provide the full-width row and split column layouts */
.row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  min-width: 20rem;
}

.column-1-3 {
  flex: 33%;
  padding: 10px;
  min-width: 16rem;
}

/* image border styles */
.tilt-portrait-left, .tilt-landscape-left {
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari 3-8 */
  transform: rotate(-3deg);
}

.tilt-portrait-right, .tilt-landscape-right {
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari 3-8 */
  transform: rotate(3deg);
}

.tilt-portrait-left, .tilt-portrait-right {
  max-height: 350px;
}

.tilt-landscape-left , .tilt-landscape-right {
  max-width: 400px;
}

.tilt-portrait-left, .tilt-landscape-left, .tilt-portrait-right, .tilt-landscape-right {
  margin: auto;
  border: 6px solid goldenrod;
  border-radius: 6px;
  padding: 3px;
  box-shadow: 2px 4px 6px 2px rgba(0,0,0,.2);
}

.section-photos {
  max-height: 300px;
  max-width: 400px;
  border-radius: 6px;
  box-shadow: 2px 4px 6px 2px rgba(0,0,0,.2);
}

.print-only {
  display: none;
}

/* End of on-screen styles */
}


/* The following overrides screen styles when printing */
@media print {

body {
  margin: 0;
  color: #000;
  background-color: #fff;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding-top: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

img {
  max-width: 100%;
}

.print-only {
  font-size: small;
  padding-bottom: 24px;
}

.header-700 {
  display: none;
}

.bg-footer-700 {
  display: none;
}

.do-not-print {
  display: none;
}

.crossword-border {
  border: none;
}

/* End of print-only styles */
}

