.quote-mark {
  min-width: 8rem;
  margin: auto;
  height: auto;
}

.quote-mark img {
  vertical-align: middle;
}

/* Used to remove vertical padding from the quotation mark svg images */
.column-no-padding {
  flex: 50%;
  min-width: 20rem;
  margin: auto;
}

/* Break point style to hide quotation mark svg images */
@media only screen and (max-width: 679px) {
  .hide-small {
    display: none;
  }
  .quote-mark {
    min-width: 4rem;
  }
  .quote-mark {
    padding: 2rem 0;
  }
}

/* Break point style to show quotation mark svg images */
@media only screen and (min-width: 680px) {
  .show-small {
    display: none;
  }
}

.bottom-border {
  border-bottom: solid lightgray 1px;
  margin-top: 1.1rem;
}

.testimonial {
  /* font-family: "Courier New", monospace; */
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  text-indent: 2rem;
  color: dimgray;
}

.attribution-name {
  color: #d82286;
  font-size: 1.3rem;
  padding-top: 0.4rem;
}

.attribution {
  font-size: 0.9rem;
  padding-bottom: 2px !important;
}

.attribution-role-name {
  font-style: italic;
  font-weight: 500;
}

.attribution-role-company {
  color: #d82286;
  font-weight: 600;
}

.quote-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
