/* Copied (then adapted) from: https://codepen.io/SitePoint/pen/YWZpXB */

/* -------------------------------------------------------------------------- *\
* .c-tile-list
* -------------------------------------------------------------------------- */

/**
* 1. Reset default list styles
* 2. Flexbox used for a grid-like layout for the tiles.
*/
.c-tile-list {
  list-style: none; /* 1 */
  margin: 0; /* 1 */
  padding: 0; /* 1 */
  display: flex; /* 2 */
  flex-wrap: wrap; /* 2 */
}

/**
  * 1. Flexbox used for equal-height tiles on a same line.
  * 2. Make sure a time never looks distorded.
  * 3. Spacing between tiles.
  */
.c-tile-list__item {
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
  flex: 0 0 31%; /* 2 */
  margin: 10px; /* 3 */
  box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 6px;
}

.c-tile-list__item:hover {
  box-shadow: 2px 10px 20px 2px rgba(0,0,0,0.2);
}


/* -------------------------------------------------------------------------- *\
  * .c-article-tile
  * -------------------------------------------------------------------------- */

/**
  * 1. Make it possible to bottom align the footer in a tile that has a minimum
  *    height.
  * 2. Make sure the tile spread across the full height of the parent if inside
  *    a flex container.
  */
.c-article-tile {
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
  flex: 1 0 auto; /* 2 */
  background-color: rgb(255, 255, 255);
}

.c-article-tile a {
  color: inherit;
  text-decoration: none;
}

.c-article-tile__header,
.c-article-tile__body,
.c-article-tile__footer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.c-article-tile__header,
.c-article-tile__footer {
  font-size: 60%;
}

.c-article-tile__header {
  padding: 0;
  border-bottom: 2px solid;
  flex-direction: column;
}

.article-thumbnail {
  border-radius: 6px 6px 0 0;
}

.c-article-tile__category {
  font-weight: bold;
}

/**
  * 1. Right align the comment count container in the header.
  */
.c-article-tile__comment-count {
  margin-left: auto; /* 1 */
}

.c-article-tile__body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-article-tile__title {
  margin: 0;
  color: #333;
  font-size: 110%;
}

/**
  * 1. Make the title link inherit the color only when not active / hovered,
  *    effectively making it themed when active / hovered.
  */
.c-article-tile__title:not(:hover):not(:active) > a {
  color: inherit; /* 1 */
}


/**
  * 1. Bottom align the footer in the tile.
  * 2. Prevent any content from the footer from wrapping, effectively forcing it
  *    on a single line at all time.
  */
.c-article-tile__footer {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: auto; /* 1 */
  white-space: nowrap; /* 2 */
  color: #949494;
}

/**
  * 1. Prevent the read-time and the date from overlapping in case they both don’t
  *    fit on the line; add an ellipsis to the read-time name.
  * 2. Visually no effect when both the read-time and the date fit; however make
  *    sure they are slightly spaced from each other if they meet on the line.
  */
.c-article-tile__read-time {
  text-overflow: ellipsis; /* 1 */
  overflow: hidden; /* 1 */
  margin-right: 5px; /* 2 */
}

/**
  * 1. Right align the date container in the footer.
  */
.c-article-tile__date {
  margin-left: auto; /* 1 */
}


/* -------------------------------------------------------------------------- *\
  * [Theming] .c-article-tile
  * -------------------------------------------------------------------------- */

  .c-article-tile {
    border-radius: 6px;
  }

.c-article-tile.col1,
.c-article-tile.col1 a {
  color: #c69;
}

.c-article-tile.col2,
.c-article-tile.col2 a {
  color: #2abc67;
}

.c-article-tile.col3,
.c-article-tile.col3 a {
  color: #2980b9;
}


/* -------------------------------------------------------------------------- *\
  * Global styles
  * -------------------------------------------------------------------------- */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

